[[source]]
url = "https://nexus.mobilityservices.io/repository/pypi/simple"
verify_ssl = true
name = "Nexus"

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
requests = "*"
pydruid = "*"
das-routing-core = "*"
black = "==19.3b0"

[requires]
python_version = "3.7"
